@model IEnumerable<TryProject.Models.Job>
@{
    ViewData["Title"] = "Index2";
}

<h1>Index2</h1>

    <script type="text/javascript">
    $(document).ready(function () {
        bindDatatable();
    });
       
        new DataTable('#example', {
            ajax: 'Job/Index2',
           
            columns: [
                { data: 'Name' }
                { data: 'Id' },
            ]
        });
    </script>



<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead> 
  
   
    @foreach (var job in Model)
    {

        <tr>
            <td>@job.Id</td>
            <td>@job.Name</td>
        </tr>
    }
    
    <tfoot>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </tfoot>
    </table>

