@model IEnumerable<TryProject.Models.Job>
@{
    ViewData["Title"] = "Index2";
}

<h1>Index2</h1>
<body>
   
  

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });</script>

<script>let table = new DataTable('#example');</script>
@*<script type="text/javascript">
       
        new DataTable('#example', {
            ajax:{
                    url:"appsettings.json",
                    dataSrc:"data"
            },
           
            columns: [
                { data: 'Name' }
                { data: 'Id' },
            ]
        });
    </script>*@



<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead> 
  
   
    @foreach (var job in Model)
    {

        <tr>
            <td>@job.Id</td>
            <td>@job.Name</td>
        </tr>
    }
    
    <tfoot>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </tfoot>
    </table>

</body>