@model IEnumerable<Job>
@{
    ViewData["Title"] = "Index2";
}

<h1>Index2</h1>
<body>
   
  


@section scripts{
    
<script type="text/javascript">
       
       
            $(document).ready(function () {
                $('#example').DataTable({
                    //columnDefs:[{
                    //   "defaultContent": "-",
                    //   "targets":  "_all"
                    //}],
                    "ajax": {
                        "url": "@Url.Action("GetJson", "Job")",
                        "dataSrc": "data" // Il nome dell'array che contiene i dati nell'oggetto JSON restituito
                    },
                    "columns": [
                        { "data": "Name" },
                        { "data": "Id" },
                        
                    ]
                });
            });
    </script>
    }



<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
            </tr>
        </thead> 
   
  @*  @foreach (var job in Model)
    {

        <tr>
            <td>@job.Id</td>
            <td>@job.Name</td>
        </tr>
    }*@
    
    <tfoot>
            <tr>
                <th>Name</th>
                <th>Id</th>
            </tr>
        </tfoot>
    </table>

</body>